<div class="container-fluid m-0 p-0">
    <div class="row justify-content-md-center m-0 mt-4">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header text-center">
                    TO-DO-LIST
                </div>
                <div class="card-body">
                    <ul id="list">
                        <li *ngFor="let data of listItems; let i = index">
                            <span>{{data['description']}}</span>
                            <i class="fa fa-trash" (click)="deleteItem(data)"></i>
                            <span class="timeStamp">{{data['timeStamp']}}</span>
                        </li>
                        <li *ngIf="showNewItem">
                            <input type="text" [(ngModel)]="newItem" />
                            <i class="fa fa-trash" (click)="toggleNewItem()"></i>
                            <i class="fa fa-check" aria-hidden="true" (click)="addNewItem()"></i>
                        </li>
                    </ul>
                    <div class="button-conatiner">
                        <button class="btn btn-primary" (click)="toggleNewItem()">
                            <span *ngIf="!showNewItem">Add New</span>
                            <span *ngIf="showNewItem">Disable</span>
                        </button>
                        <button class="btn btn-danger ml-2" (click)="deleteAll()">Delete All</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<notifier-container></notifier-container>